Source: e-tahta
Section: utils
Priority: optional
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Build-Depends: debhelper (>= 9), 
    qtdeclarative5-dev,
    libpoppler-qt5-dev,
     libopencv-core-dev,
     libopencv-imgproc-dev,
     libopencv-imgcodecs-dev,
     libopencv-highgui-dev
Standards-Version: 3.9.8
Homepage: http://pardus.org.tr

Package: e-tahta
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
     libqt5widgets5,
     libqt5gui5,
     libqt5core5a,
     libqt5network5,
     libqt5printsupport5,
     libpoppler-qt5-1,
     libopencv-core406,
     libopencv-imgcodecs406,
     libopencv-imgproc406,
     libopencv-highgui406
Description: E-Tahta Uygulaması
